* {
    font-family: 'Victor Mono', monospace;
}

h1 {
    color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
}

h2 {
    color: black;
}

p {
    color: green;
}

a {
    color: pink;
}

body {
    background-color: #79db;
}

header {
    background-color: #799d;
    position: relative;
    top: 0px;
}

nav {
    background-color: #2adb;
}

main {
    background-color: #b71b1b;
}

footer {
    background-color: #5c4925;
    text-align: center;
    padding: 0px;
}

.navTitleClass {
    font-style: italic;
}

.pollyTitleClass {
    display: block;
    margin: auto;
    text-align: center;
    text-shadow: 0 8px 16px 10px rgba(0,0,0,0.2);
    font-style: bold;
}

.leaveTitleClass {
    font-size: 20px;
}

.pollyimg {
    display: block;
    margin: auto;
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2);
    border: 30px;
    border-radius: 50%;
    object-fit: cover;    
    object-position: 100% 0%;
}

.pollyimgAlt {
    position: relative;
    display: inline-block;
    margin: grid;
}

#a {
    filter: blur(8px);
}

#b {
    filter: brightness(50%); 
}

#c {
    filter: contrast(200%); 
}

#d {
    filter: drop-shadow(8px 8px 10px blue);
}

#e {
    filter: grayscale(100%); 
}

#f {
    filter: hue-rotate(90deg); 
}

#g {
    filter: invert(100%); 
}

#h {
    filter: opacity(50%);      
}

#i {
    filter: saturate(200%); 
}

figcaption {
    background-color: rgb(182, 179, 179);
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 5%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2);

}