header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #2abbdb;
    text-align: center;
}

.birbcard {
    background-color: #2abbdb;
    border-radius: 25px;
    border: 2px solid #2abbdb;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}