/* Small screens (phones) */
@media (min-width: 320px) {
    header {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #2abbdb;
        text-align: center;
    }


    /* Birbcard stuff */
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .birbcard {
        
    }

    /* Navigation-search stuff */
    h1 {
        text-align: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-gap: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    select {
        width: 100%;
    }

    input {
        width: 100%;
    }

}

/* Medium screens (tablets) */
@media (min-width: 640px) {
    header {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #2abbdb;
        text-align: center;
    }


    /* Birbcard stuff */
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .birbcard {
        
    }

    /* Navigation-search stuff */
    .grid {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-gap: 10px;
    }

    select {
        width: 100%;
    }

    input {
        width: 100%;
    }

}

/* Large screens (laptops) */
@media (min-width: 1366px) {
    header {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #2abbdb;
        text-align: center;
    }


    /* Birbcard stuff */
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .birbcard {
        display: grid;
        border-color: black;
        border-width: 10px;
        border-radius: 10px;
    }

    .birbcard img{
       width: 100%;
       height: 100%;
        
    }

    #Title{
        color: whitesmoke;
        position: relative;
        Bottom: 50px;
        Left: 10px;
    }

    #photoCredit{
        ;
    }

    /* Navigation-search stuff */
    .grid {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-gap: 10px;
    }

    select {
        width: 100%;
    }

    input {
        width: 100%;
    }

}