/* Small screens (phones) */
@media (min-width: 320px) {
    header {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #2abbdb;
        text-align: center;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    select {
        width: 100%;
    }

    input {
        width: 100%;
    }

    .birbcard {
        display: flex;
        background-color: #2abbdb;
        border-radius: 25px;
        border: 2px solid #2abbdb;
        padding: 20px;
        width: 200px;
        height: 200px;
        margin: 20px;
    }

    .container {
        display: grid;
    }

    .grid {
        display: flex;
    }

}

/* Medium screens (tablets) */
@media (min-width: 640px) {
    header {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #2abbdb;
        text-align: center;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    select {
        width: 100%;
    }

    input {
        width: 100%;
    }

    .birbcard {
        display: flex;
        background-color: #2abbdb;
        border-radius: 25px;
        border: 2px solid #2abbdb;
        padding: 20px;
        width: 200px;
        height: 200px;
        margin: 20px;

    }

    .container {
        display: grid;
    }

    .grid {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-gap: 10px;

    }

}

/* Large screens (laptops) */
@media (min-width: 1366px) {
    header {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #2abbdb;
        text-align: center;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    select {
        width: 100%;
    }

    input {
        width: 100%;
    }

    .birbcard {
        display: flex;
        background-color: #2abbdb;
        border-radius: 25px;
        border: 2px solid #2abbdb;
        padding: 20px;
        width: 200px;
        height: 200px;
        margin: 20px;

    }

    .container {
        display: grid;
    }

    .grid {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-gap: 10px;
    }


}